---
const {frontmatter, url} = Astro.props;
---
<div class="dark:bg-gray-800 dark:text-gray-100">
	<div class="container max-w-4xl px-10 py-6 mx-auto rounded-lg shadow-sm dark:bg-gray-900">
		<div class="flex items-center justify-between">
			<span class="text-sm font-semibold dark:text-gray-400">{frontmatter.date.slice(0,10)}</span>
			<p class="text-sm font-semibold uppercase space-x-4 dark:text-gray-400">{frontmatter.tags.map(((tag: string) => (
        <span>{tag}</span>
      )))}</p>
		</div>
		<div class="mt-3">
			<a href={url} class="text-2xl dark:text-cyan-400 font-bold hover:underline">{frontmatter.title}</a>
			<p class="mt-2">{frontmatter.description}</p>
		</div>
		<div class="flex items-center justify-between mt-4">
			<a href={url} class="text-sm text-semibold hover:underline dark:text-cyan-400">Read more</a>
			<div>
				<p class="text-sm font-semibold dark:text-gray-400">{frontmatter.minutesRead}</p>
			</div>
		</div>
	</div>
</div>
